extends ../layout.pug 
block content
    div(class="first-div1" style=" width:800px; height:500px; margin:28px 0px 0px 152px; ")
                            h1(style="background: rgba(246, 104, 16, 0.956); margin:90px 0px 20px 80px; text-align:center;") Add 24/7 online support details 
                            form(style="width:80%; margin-left:auto; margin-right:auto;")
                                .form-group1
                                    label(for='exampleInputEmail1') Name
                                    input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter Name')
                                    label(for='exampleInputPassword1') Description
                                    input#exampleInputPassword1.form-control(type='text', placeholder='Enter Description for item')
                                    label(for='exampleInputPassword1') Description
                                    input#exampleInputPassword1.form-control(type='text', placeholder='Enter Description for item')
                                    label(for='exampleInputPassword1') Description
                                    input#exampleInputPassword1.form-control(type='text', placeholder='Enter Description for item')
                                    label(for='exampleInputPassword1') Description
                                    input#exampleInputPassword1.form-control(type='text', placeholder='Enter Description for item')
                                    label(for='exampleInputPassword1') Description
                                    input#exampleInputPassword1.form-control(type='text', placeholder='Enter Description for item')
                                    label(for='exampleInputPassword1') Description
                                    input#exampleInputPassword1.form-control(type='text', placeholder='Enter Description for item')

                                .form-check
                                button.btn.btn-primary(type='submit' style="width:200px; margin:10px;") Submit