extends ./layout.pug
block content
    div(class="minDivForButtons" style=" width:50%; margin-left:auto; margin-right:auto;margin-top:16%;")
        button(class="button" style='vertical-align:middle')
            a(href="./product")
                span Products
        button(class="button" style='vertical-align:middle')
            a(href="./services")
                span Services
        button(class="button" style='vertical-align:middle')
            a(href="./support")
                span Supports
        button(class="button" style='vertical-align:middle')
            a(href="./contact")
                span Contact